<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="flex navigation">
            <a href="/">
                <h2>
                    UserDetail
                </h2>
            </a>
        <a href ='/users' class='button'> Show Users </a>
        </div>
    </header>
        
    <main>      
        <h3>Edit User Form</h3>
        <form action="/users/<%= user.id%>" method="post" class='form-container'>
            <input type="text" name="name" id="name" placeholder="Enter your name" value="<%= user.name%>">
            <input type="email" name="email" id="email" placeholder="Enter your email" value="<%= user.email%>">
            <textarea name="address" id="address" cols="30" rows="10" placeholder="Enter your address" value="<%= user.address%>"></textarea>
            <textarea name="bio" id="bio" cols="30" rows="10" placeholder="Enter about yourself" value="<%= user.bio%>"></textarea>
            <input type="text" name="hobbies" id="hobbies" placeholder="Enter your hobbies" value="<%= user.hobbies%>">
            <button type="submit">Edit</button>
        </form>
    </main>
</body>
</html>